<div class="usereditPage">
    <header class="row header">
    <div class="small-12 small-centered header_content">
      <div class="small-6 large-10 columns header_content_text title"><a class="a-title" href = "#/">Puzzles</a></div>
      <div class="small-6 large-2 columns header_content_text other_info">  
        <div class="small-12 columns"><button class="hollow button" ng-click="logout()">Log Out</button></div>
      </div>
    </div>
  </header>
  <div class="large-12 editintro">
    <div class="row heading text-center">Enter Profile Details</div>
    <div class="row form">
      <form name = "myform" ng-submit="registerBasic()" novalidate>
        <fieldset>
          <!-- Name -->
          Name: <font color="red">*</font>
          <input type="text" name="name" 
                placeholder="Name"
                ng-model="name"
                ng-required="true">
          <p class="error validationerror text-center" ng-show="myform.name.$invalid && myform.name.$touched">
          Please enter a name.
          </p>
          <!-- Phone Number -->
          Phone Number: <font color="red">*</font>
          <input type="text" name="phonenumber" 
                placeholder="Phone Number"
                ng-model="phonenumber"
                ng-required="true">
          <p class="error validationerror text-center" ng-show="myform.phonenumber.$invalid && myform.phonenumber.$touched">
          Please enter a valid phone-number.
          </p>
           <!-- Email ID -->
          Email: <font color="red">*</font>
          <input type="email" name="email" 
                placeholder="Email"
                ng-model="email"
                ng-required="true">
          <p class="error validationerror text-center" ng-show="myform.email.$invalid && myform.email.$touched">
          Please enter a valid email.
          </p>
          <!-- LinkedIn -->
          LinkedIn:
          <input type="url" name="linkedin" 
                placeholder="LinkedIn"
                ng-model="linkedin">
          <p class="error validationerror text-center" ng-show="myform.linkedin.$invalid && myform.linkedin.$touched">
          Please enter a valid LinkedIn link.
          </p>
          <!-- Github -->
          Github:
          <input type="url" name="github" 
                placeholder="Github"
                ng-model="github">
          <p class="error validationerror text-center" ng-show="myform.github.$invalid && myform.github.$touched">
          Please enter a valid Github link.
          </p>

          <!-- Skills -->
          Skills:
          <input type="text" name="skills" 
                placeholder="Enter Skills in comma seperated values"
                ng-model="skills",
                ng-required="true">
          <p class="error validationerror text-center" ng-show="myform.skills.$invalid && myform.skills.$touched">
          Please enter your skills in CSV format.
          </p>
        </fieldset>
        
        <div class="small-12 large-8 small-centered buttons">
          <div class="small-12 large-6 columns buttonsbox"><a ng-click="discardData()" class="button alert">Discard Changes</a></div>
          <div class="small-12 large-6 columns buttonsbox"><button type="submit" class="button success">Next</button></div>
        </div>
        <div class="small-12 text-center"><font color="green">{{message}}</font></div>
      </form>
    </div>
  </div>
</div>