<div class="usereditPage">
    <header class="row header">
    <div class="small-12 small-centered header_content">
      <div class="small-6 large-10 columns header_content_text title"><a class="a-title" href = "#/">Puzzles</a></div>
    </div>
  </header>
  <div class="large-12 editintro">
    <div class="row heading text-center">What do you wish to edit?</div>
    <div class="row form">
      <div class="large-12 text-center">
        <div class="large-3 columns buttonsbox">
          <button class="button expand" ng-click="editBasic()">Basic Information</button>
        </div>
        <div class="large-3 columns">
          <button class="button expand" ng-click="editEducation()">Education</button>
        </div>
        <div class="large-3 columns">
          <button class="button expand" ng-click="editInternship()">Internship</button>
        </div>
        <div class="large-3 columns">
          <button class="button expand" ng-click="editProjects()">Projects</button>
        </div>
      </div>
      <hr>
      <div class="large-12 text-center">
        <div class="large-6 columns">
          <button class="button alert" ng-click="deleteUser()">Delete User</button>
        </div>
        <div class="large-6 columns">
          <button class="button success" ng-click="doneEditing()">Update Information</button>
        </div>
      </div>

    </div>
  </div>
</div>