<div class="portfolioPage">
	<header class="row header">
		<div class="small-12 small-centered header_content">
			<div class="small-6 large-6 columns header_content_text title">
				<a href="#/">Puzzles</a>
				<a ng-click="switchStyle()" class="button" ng-show="ifSample" style="color:white; font-family:none;">Style 2</a>
			</div>

			<div class="large-1 other_info_text columns header_content_text text-center priya_ocd_right">
				<a class="other_info_text" href = "#home" target="_self">Home</a>
			</div>

			<div class="large-1	other_info_text columns header_content_text text-center priya_ocd_left">
				<a class="other_info_text" href = "#about" target="_self">About me</a>
			</div>

			<div class="large-1	other_info_text columns header_content_text text-center priya_ocd_left">
				<a class="other_info_text" href = "#exp" target="_self">Experience</a>
			</div>

			<div class="large-1	other_info_text columns header_content_text text-center priya_ocd_left">
				<a class="other_info_text" href = "#project" target="_self">Projects</a>
			</div>
			<div class="small-6 large-2 columns header_content_text other_info">  
        		<div class="small-12 columns"><button class="hollow button" ng-click="logout()">{{logged}}</button></div>
      		</div>
		</div>
	</header>
	<div class="large-12 pHome" id = "home">
		<div class="innerBox">
			<div class="name">
				<h1>I am {{data["name"]}} <br> and I am a <span class="txt-rotate">Software Developer.</span></h1>
				<div>
					<a href = "#about" target="_self"><button class="button">Get to Know Me</button></a>
					<button class="button" ng-click="updateInfo()" ng-show=myPage>Update Info</button>
				</div>
			</div>
		</div>
	</div>
	<div class="large-12 row pAbout" id = "about">
		<div class="upperHalf">
			<div class="large-10 large-centered text-center about-heading">I am happy you are visiting
				<span style="color:rgb(0,0,0);">_</span>
			</div>
			<br><br> 
			<center><p>I am a currently a major in {{education["major"]}} at {{education["name"]}}, Urbana Champaign. <br>The following are few ways via which you can get to know me better.</p></center>
		</div>
		<div class="large-10 large-centered small-up-1 medium-up-2 large-up-3 about-outerbox">
		  <div class="column">
		    <div class="about-box">
		    	<div class="large-12 about-box-icon text-center">
		    		<i class="fa fa-book" aria-hidden="true"></i>
		    	</div>
		    	<br>
		    	
			    	<b>College : </b><span>{{education["name"]}}</span><br>
			    	<b>Graduation : </b><span>{{education["endDate"]}}</span><br>
			    	<b>CGPA : </b><span>{{education["CGPA"]}}</span><br>
			    	<b>Major courses taken : </b><span>{{courses}}</span>
			    
		    </div>
		  </div>
		  <div class="column">
		    <div class="about-box">
		    	<div class="large-12 about-box-icon text-center">
		    		<i class="fa fa-code" aria-hidden="true"></i>
		    	</div>
		    	<br>
		    	<b>My strongest languages are : </b> <span>{{ skills }}</span>
		    </div>
		  </div>
		  <div class="column">
		    <div class="about-box">
		    	<div class="large-12 about-box-icon text-center">
		    		<i class="fa fa-heart" aria-hidden="true"></i>
		    	</div>
		    	<br>
			    	<b>Phone Number : </b> <span>{{data["phonenumber"]}}</span><br>
			    	<b>Email : </b><span>{{data["emailid"]}}</span> <br>
			    	<b ng-hide = hideLinkedin><i class="fa fa-linkedin" aria-hidden="true"></i> : </b> <span ng-hide = hideLinkedin> {{data["linkedin"]}} </span><br>
			    	<b ng-hide = hideGithub><i class="fa fa-github" aria-hidden="true"></i> : </b> <span ng-hide = hideGithub> {{data["github"]}} </span>
		    </div>
		  </div>
		</div>
	</div>
	<div class="large-12 row pExp" id = "exp" ng-hide = hideInternship>
		<div class="large-12 large-centered text-center exp-heading">
			Placed I worked at <span style="color:rgb(15,181,179);">_</span>
			<p>These are the experiences I am most proud of</p>
		</div>
		
		<div class="large-10 large-centered small-up-1 medium-up-2 large-up-3 exp-outerbox">
		  <div class="column" ng-show = showOneI>
		    <div class="exp-box">
		    	<div class="large-12 text-center exp-box-title">
		    		{{internship[0]["company"]}}
		    		<p>({{internship[0]["startDate"]}} to {{internship[0]["endDate"]}})</p>
		    	</div>
		    	<div class="large-12 text-center exp-box-text">{{internship[0]["description"]}}</div>
		    </div>
		  </div>
		  <div class="column" ng-show = showTwoI>
		    <div class="exp-box">
		    	<div class="large-12 text-center exp-box-title">
		    		{{internship[1]["company"]}}
		    		<p>({{internship[1]["startDate"]}} to {{internship[1]["endDate"]}})</p>
		    	</div>
		    	<div class="large-12 text-center exp-box-text">{{internship[1]["description"]}}</div>
		    </div>
		  </div>
		  <div class="column" ng-show = showThreeI>
		    <div class="exp-box">
		    	<div class="large-12 text-center exp-box-title">
		    		{{internship[2]["company"]}}
		    		<p>({{internship[2]["startDate"]}} to {{internship[2]["endDate"]}})</p>
		    	</div>
		    	<div class="large-12 text-center exp-box-text">{{internship[2]["description"]}}</div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="large-12 row pProject" id = "project" ng-hide = hideProject>
		<div class="large-12 large-centered text-center project-heading">My Projects <span style="color:rgb(15,181,179);">_</span>
			<p>Things I have worked on over the last few years</p>
		</div>
		<div class="large-10 large-centered small-up-1 medium-up-2 large-up-3 project-outerbox">
		  <div class="column" ng-show = showOneP>
		    <div class="project-box">
		    	<div class="large-12 text-center project-box-title">
		    		{{project[0]["name"]}}
		    	</div>
		    	<div class="large-12 text-center project-box-text">
		    		{{ project[0]["description"] }}</div>
		    </div>
		  </div>
		  <div class="column" ng-show = showTwoP>
		    <div class="project-box">
		    	<div class="large-12 text-center project-box-title">
		    		{{project[1]["name"]}}
		    	</div>
		    	<div class="large-12 text-center project-box-text">
		    		{{ project[1]["description"] }}</div>
		    </div>
		  </div>
		  <div class="column" ng-show = showThreeP>
		    <div class="project-box">
		    	<div class="large-12 text-center project-box-title">
		    		{{project[2]["name"]}}
		    	</div>
		    	<div class="large-12 text-center project-box-text">
		    		{{ project[2]["description"] }}</div>
		    </div>
		  </div>
		</div>
	</div>
</div>